.all-popular-news {
  height:max-content;
}
.news .news-item {
  /* background:green; */
  height:110px;
  /* overflow:hidden; */
}
.news .news-item .img{
  width:100%;
  height:100%;
  background:red;
}
.news .news-item .img img {
  width:100%;
  height:100% !important;
  object-fit: cover;
}
.news .news-item .details {
  background:pink;
}