.text-white {
  color:#ffffff !important;
}
.text-gray {
  color:#DBDBDB !important;
}
.text-dark-gray {
  color:#272727 !important;
}
.td-none {
  text-decoration:none !important;
}
.text-20 {
  font-size:20px;
}
.text-13 {
  font-size:14px !important;
}
.weight-r {
  font-weight:300;
}
.text-light-gray {
  color:#8D8D8D;
}