.text-white {
  color:#ffffff !important;
}
.text-gray {
  color:#DBDBDB !important;
}
.text-dark-gray {
  color:#444444 !important;
}
.text-red {
  color:#CC0000 !important;
}
.text-gold {
  color:#D69324 !important;
}
.td-none {
  text-decoration:none !important;
}
.text-20 {
  font-size:20px;
}
.text-23 {
  font-size:23px;
}
.text-13 {
  font-size:14px !important;
}
.text-12 {
  font-size:12px !important;
}
.text-15 {
  font-size:16px !important;
}
.text-20 {
  font-size:20px !important;
}
.text-17 {
  font-size:17px !important;
}
.text-8 {
  font-size:8px !important;
}
.text-25 {
  font-size:25px !important;
}
.text-40 {
  font-size:40px !important;
}
.weight-r {
  font-weight:300;
}
.text-light-gray {
  color:#8D8D8D;
}
.btn-outline-red {
  background:transparent !important;
  color:#DBDBDB;
  border:1px solid #CC0000;
}
.bold-300 {
  font-weight:300 !important;
}
.bold-400 {
  font-weight:400 !important;
}
.bold-600 {
  font-weight:600 !important;
}
.bold-700 {
  font-weight:700 !important;
}
.index-top {
  z-index: 1;
}
.border-b-red {
  border-bottom:2px solid red !important;
  width:max-content;
}