.text-white {
  color:#ffffff !important;
}
.text-gray {
  color:#DBDBDB !important;
}
.text-dark-gray {
  color:#272727 !important;
}
.td-none {
  text-decoration:none !important;
}
.text-20 {
  font-size:20px;
}